.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.content{
  width: 90%;
  max-width: 640px;
  background: #FFF;
  padding: 3rem;
}